.main_container{
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    color: whitesmoke;
    background-image: radial-gradient(rgb(74, 8, 77), rgb(18, 16, 17));
    width: auto;
    max-width: 550px;
    height: auto;
    background-size: cover;
    box-shadow: 0ch;
    
}
.main_container:hover{
    
    background-image: radial-gradient(rgb(66, 2, 69), rgb(111, 8, 80));
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px #aaa;
}

.dex{
    margin-top: 10px;
}

.logo{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin-top: 20px; 
}